# <center> Strings </center>

<b><i> String </b></i> é uma estrutura de dados que armazena caracteres. Abaixo estão descritos os principais métodos vinculados a este objeto.

<table>
  <tr>
    <th>Método</th>
      <th><center>Descrição</center></th>
  </tr>
  <tr>
    <td>capitalize()</td>
    <td>Converte o primeiro caracter para maiúsculo</td>
  </tr>
  <tr>
    <td>count()</td>
    <td>Retorna o número de vezes que um determinado caracter(es) ocorrem em uma string</td>
  </tr>
  <tr>
    <td>endswith()</td>
    <td>Retorna True se a string termina com o valor especificado</td>
  </tr>
  <tr>
    <td>find()</td>
    <td>Procura a posição no string de um determinado valor e retorna a posição onde ele foi encontrado</td>
  </tr>
  <tr>
    <td>format()</td>
    <td>Formata valores especificados em uma string</td>
  </tr>
  <tr>
    <td>index()</td>
    <td>Procura a um determinado valor de caracter(es) e retorna a posição onde ele ocorre</td>
  </tr>
  <tr>
    <td>isalnum()</td>
    <td>Retorna verdadeiro se todos caracteres na string são alfanuméricos</td>
  </tr>
  <tr>
    <td>isalpha()</td>
    <td>Retorna verdadeiro se todos caracteres na string são letras do alfabeto</td>
  </tr>
  <tr>
    <td>islower()</td>
    <td>Retorna verdadeiro se todos caracteres na string são letras minúsculas</td>
  </tr>
  <tr>
    <td>isnumeric()</td>
    <td>Retorna verdadeiro se todos caracteres na string são numéricos</td>
  </tr>
  <tr>
    <td>isupper()</td>
    <td>Retorna verdadeiro se todos caracteres na string são maiúsculos</td>
  </tr>
  <tr>
    <td>join()</td>
    <td>Junta elementos de um iterável transformando em uma string</td>
  </tr>
  <tr>
    <td>lower()</td>
    <td>Converte os caracteres para minúsculo</td>
  </tr>
  <tr>
    <td>replace()</td>
    <td>Permite substituir uma determinada string por um valor especificado e retorna a posição da string modificada</td>
  </tr>
  <tr>
    <td>rfind()</td>
    <td>Procura um determinado caracter(es) e retorna a última posição em que ele foi encontrado</td>
  </tr>
  <tr>
    <td>rindex()</td>
    <td>Procura a um determinado valor de caracter(es) e retorna a última posição onde ele ocorre</td>
  </tr>
  <tr>
    <td>split()</td>
    <td>Divide uma string utilizando um determinado separador e retorna uma lista</td>
  </tr>
  <tr>
    <td>strip()</td>
    <td> </td>
  </tr>
  <tr>
    <td>swapcase()</td>
    <td>Troca letras maiúsculas por minúsculas e vice versa</td>
  </tr>
  <tr>
    <td>upper()</td>
    <td>Converte os caracteres para maiúsculo</td>
  </tr>
</table>

<center> Fonte <a href='https://www.w3schools.com/python/python_ref_string.asp'> Website w3schools </a> </center>

A seguir, discutiremos sobre strings e alguns métodos.

### Criando minha primeira string

In [1]:
'Minha primeira string'

'Minha primeira string'

In [2]:
#Passando a string para uma variável
s = 'Minha primeira string'

In [3]:
#Consultando o tipo da variável
type(s)

str

Podemos consultar o tamanho de um iterável, neste caso a string, utilizando a função <i>bult-in</i> len:

In [4]:
#Tamanho da string
len(s)
#Obs: Espaços também são contabilizados

21

### Slice (fatiamento) de uma string

Podemos consultar a posição de um determinado caracter, em uma string, através de sua posição. É importar ressaltar que em python, o primeiro índice (<i> index </i>) que referencia um determinado caracter é o valor 0. Ex.:

<table>
  <tr>
    <th>String</th>
    <th>B</th>
    <th>A</th>
    <th>N</th>
    <th>A</th>
    <th>N</th>
    <th>A</th>
  </tr>
  <tr>
    <th>Index</th>
    <th>0</th>
    <th>1</th>
    <th>2</th>
    <th>3</th>
    <th>4</th>
    <th>5</th>
  </tr>
</table>

In [5]:
s = 'BANANA'
s

'BANANA'

In [6]:
#Consultando o primeiro caracter
s[0]

'B'

In [7]:
#Consultando o último caracter
s[5]

'A'

In [8]:
#Podemos utilizar a função len para obter o valor do último index
s[len(s)-1]
#Obs: len retorna o número de caracteres

'A'

In [9]:
#Podemos utilizar, também, o index reverso
s[-1]

'A'

Um segmento de um iterável é chamado de <b> fatia (<i>Slice</i>) </b>. Podemos definir as operações do slice para uma dada string s como:

<center> s[index$_{inicial}$:index$_{final}$:passo]. </center>

Vamos criar uma string com mais caracteres para melhor entender o slicing.

In [10]:
#Criando uma nova string
s = "Essa é uma turma de geofísicos e geólogos"
s

'Essa é uma turma de geofísicos e geólogos'

In [11]:
#Coletando as quatro primeiras strings
s[0:4]

'Essa'

In [12]:
#Slice da posição 11 até 15
s[11:16]

'turma'

In [13]:
#Se o primeiro index no slice for 0
s[:10]

'Essa é uma'

In [14]:
#Se quisermos apenas definir o primeiro index e ir até o final da frase
s[11:]

'turma de geofísicos e geólogos'

In [15]:
#Podemos fazer um slice e coletar os caracteres com um determinado espaço
s[0:19:2]

'Es  m um e'

In [16]:
s[::2]

'Es  m um egoíio  elgs'

In [17]:
#Ou podemos simplesmente definir um passo contrário
s[::-1]

'sogolóeg e socisífoeg ed amrut amu é assE'

<b><i> Escape codes </b></i>

Para inserir caracteres que são "ilegais" em string, nós usamos um caracter <i> escape </i>. Um caracter <i>escape</i> é usado com o <i>backslash</i> "\" seguido pelo caracter especial que se deseja inserir.

Examplos:

<table>
  <tr>
      <th><i>Escape code</i></th>
    <th>Descrição</th>
  </tr>
  <tr>
    <td>\</td>
    <td>Ao colocar o backslach e dar enter, é possível continuar digitando a string</td>
  </tr>
  <tr>
    <td>\'</td>
    <td>Permite inserir single quote</td>
  </tr>
  <tr>
    <td>\"</td>
    <td>Permite inserir double quote</td>
  </tr>
  <tr>
    <td>\n</td>
    <td>Pula para próxima linha</td>
  </tr>
  <tr>
    <td>\t</td>
    <td>Substitui o Tab</td>
  </tr>
  <tr>
    <td>\b</td>
    <td>Backspace</td>
  </tr>
  <tr>
    <td>\v</td>
    <td>Tab vertical</td>
  </tr>
</table>

In [18]:
print("Título Aqui começa o texto de demonstração")

Título Aqui começa o texto de demonstração

In [19]:
print("Título \n Aqui começa o texto de demonstração")

Título
 Aqui começa o texto de demonstração

In [20]:
print("\t Título \n Aqui começa o texto de demonstração")

	 Título
 Aqui começa o texto de demonstração

In [21]:
print(2*'\t'+"Título \n Aqui começa o texto de demonstração")

		Título
 Aqui começa o texto de demonstração

In [22]:
print(2*'\t'+"Título \n Aqui começa o texto de demonstração \
\n e aqui eu continuo escrevendo o texto")

		Título
 Aqui começa o texto de demonstração
 e aqui eu continuo escrevendo o texto

In [23]:
print(2*'\t'+"Título \n Aqui começa o texto de demonstração \v \
\n e aqui eu continuo escrevendo o texto")

		Título
 Aqui começa o texto de demonstração
 e aqui eu continuo escrevendo o texto

In [24]:
print(2*'\t'+"Título \n Aqui começa o texto de \bdemonstração \
\n e aqui eu continuo escrevendo o texto")

		Título
 Aqui começa o texto de demonstração
 e aqui eu continuo escrevendo o texto

#### A seguir iremos utilizar alguns métodos demonstrados na tabela

In [25]:
s

'Essa é uma turma de geofísicos e geólogos'

<i> lower() </i> - converte todos os caracteres para minúsculo

In [26]:
s.lower()

'essa é uma turma de geofísicos e geólogos'

<i>upper()</i> - converte todos os caracteres para maiúsculo

In [27]:
s.upper()

'ESSA É UMA TURMA DE GEOFÍSICOS E GEÓLOGOS'

<i>count()</i> - conta o número de vezes que um caractere aparece

In [28]:
s.count('a')

3

In [29]:
#O count leva em consideração se a variável é maiúscula ou não
s.count('E')

1

<i>find()</i> - retorna a primeira posição de um determinado valor na string

In [30]:
s.find('a')

3

In [31]:
#Você pode definir a partir de qual index buscar
s.find('a',5)

9

<i>rfind()</i> - retorna a ultima posição de um determinado valor na string

In [32]:
s.rfind('ge')

33

In [33]:
#Podemos passar o método invocado dentro da estrutura do slice
s[s.rfind('ge'):]

'geólogos'

<i>replace()</i> - substitui um determinado caracter ou conjunto de caracteres

In [34]:
s.replace('uma turma','um grupo') # Não é um método inplace

'Essa é um grupo de geofísicos e geólogos'

In [35]:
#Se quisermos atualizar a variável
s = s.replace('Essa é uma turma','Esse é um grupo')
s

'Esse é um grupo de geofísicos e geólogos'

<i>swapcase</i> - Troca letras minúsculas por maiúsculas e vice versa

In [36]:
s.swapcase()

'eSSE É UM GRUPO DE GEOFÍSICOS E GEÓLOGOS'

In [37]:
'-'.join(s)

'E-s-s-e- -é- -u-m- -g-r-u-p-o- -d-e- -g-e-o-f-í-s-i-c-o-s- -e- -g-e-ó-l-o-g-o-s'

In [38]:
s

'Esse é um grupo de geofísicos e geólogos'